<%- include("partials/header") -%>
<!--heading-->
<div class="heading">
  <h1><b> <em><%= title %></em></b>
    <span class="span1"></span>
  </h1>
</div>
<%- %>
<section id="testimonials">
  <div>
  <!--images-->
  <div class="row">
    <% products.forEach(function(product){ %>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card h-100 border-light">
        <div class="imageContainer">
          <img src="<%= product.image %>" class=" card-img-top" style="height:434px">
          <div class="hoverText">
            <a href="/add-to-cart/<%= product._id %>" title="Add To Cart" role="button"><button
                class="btn hoverButton"><i class="icon1 fas fa-cart-plus"></i></button>
            </a>
            <a href="/add-to-wishlist/<%= product._id %>" title="Add To Wishlist" role="button"><button
                class="btn hoverButton"><i class="icon1 fas fa-heart"></i></button>
            </a>
           <button class="btn hoverButton modalbtn" href="#modal<%= product.modal_no %>" title="Quick View">
             <i class="icon1 fas fa-eye"></i>
           </button>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= product.title %> </h5>
          <p class="card-text">Price: <%= product.price %>.00</p>
        </div>
      </div>
    </div>

    <div id="modal<%= product.modal_no %>" class="modal">
      <div class="product-view">
        <div class="close-button">X</div>
        <div class="prduct-image">
          <img src="<%= product.image %>">
        </div>
        <div class="prduct-desc">
          <h2><%= product.title %></h2>
          <p><b>Author:</b> <%= product.author %></p>
          <p><b>Product Code: </b> <%= product.product_id %></p>
          <p><b> Description :</b><%= product.description %></p>
          <p><b>Language:</b> <%= product.language %></p>
          <p><b>Category:</b> <%= product.category %></p>

          <div class="price">
            <h4 class="old-price">price: <%= product.price %>.00</h4>
          </div>


          <br>
          <a href="/add-to-cart/<%= product._id %>" class=" btn1 btn btn-dark" title="Add To Cart" role="button"><i
              class="icon1 fas fa-cart-plus"></i>Add to Cart</a>
          <a href="/add-to-wishlist/<%= product._id %>" class=" btn1 btn btn-dark" title="Add To Cart" role="button"><i
              class="icon1 fas fa-heart"></i>Add to Wishlist</a>
          <p><b>Shipping:</b>Dispatched within 2-3 working days.</p>
        </div>
      </div>
    </div>

    <% }) %>
  </div>


  <%- include("partials/footer") -%>